{% extends 'HomePage/base/home_base.html' %}
{% load static %}

{% block style %}

{% endblock %}

{% block title %}
Pricing || PortfolioInc
{% endblock %}
{% block pricing %} active {% endblock  %}
{% block content %}
    <!-- Breadcrumbs -->
    <div class="breadcrumbs" style="background-image:url({% static 'HomePage/img/breadcrumbs.jpg' %})">
        <div class="container">
            <div class="row">
                <!-- Breadcrumbs-Content -->
                <div class="col-lg-7 col-md-7 col-12">
                    <div class="breadcrumbs-content">
                        <h2>Pricing Plan</h2>
                        <p></p>
                    </div>
                </div>
                <!-- Breadcrumbs-Menu -->
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="{% url 'home_page:home' %}">Home</a><i class="fa fa-angle-double-right"></i>
                            </li>
                            <li class="active"><a href="#">Pricing</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    {% comment %} pricing start{% endcomment %}
    {% include 'HomePage/include/pricing_include.html' %}
    {% comment %}end pricing start{% endcomment %}
{% endblock %}

{% block script %}

{% endblock %}
