{% load static %}
<!-- Testimonial-Area -->
<section class="testimonial-area">
    <div class="testimonial-bg"
         style='background-image: url("{% static 'HomePage/img/breadcrumbs.jpg' %}")'>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <div class="section-title">
                        <h3>Client Testimonials</h3>
                        <div class="line-bot"></div>
                        <p>These are list of testimonials from our client who enjoyed our services.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial main -->
    <div class="testimonial-main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Testimonial-Slider -->
                    <div class="testimonial-slider">
                        {% for item in home_page_testimonial %}
                            <!-- Single Testimonial -->
                            <div class="testimonial-item">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="testimonial-left">
                                            <div class="testimonial-head">
                                                <img src="{{ item.imageURL }}" alt="#">
                                            </div>
                                            <div class="testimonial-bottom">
                                                <h6>{{ item.name }}</h6>
                                                <p>{{ item.title }}</p>
                                            </div>
                                            <!-- Social Links -->
                                            <ul class="testimonial-social">
                                                <li><a href="{{ item.facebook_url }}"><i
                                                        class="fab fa-facebook"></i></a></li>
                                                <li><a href="{{ item.twitter_url }}"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li><a href="{{ item.linkedin_url }}"><i
                                                        class="fab fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-6 col-12">
                                        <div class="testimonial-right">
                                            <p>{{ item.description }}</p>
                                            <div class="stars">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Testimonial -->
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonial Main -->
</section>
<!-- End Testimonial Area -->
