{% extends 'HomePage/base/home_base.html' %}


{% block content %}

    <!-- Eror Area -->
    <section class="error-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-12">
                    <div class="error-inner">
                        <div class="error-top">
                            <h1>500!</h1>
                            <i class="fa fa-frown-o"></i>
                        </div>
                        <h2>Sorry! An error occur. </h2>
                        <p>Please try again later.</p>
                        <div class="eror-button">
                            <a href="#" class="theme-btn">Go to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Eror Area -->

{% endblock %}